@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/* font-family: "DM Sans", sans-serif; */



body {
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 92%);
    font-family: "DM Sans", sans-serif;
}
.child1 {
    background-color: hsl(256, 67%, 59%);
    height:200px;
    border-radius: 5px;
    grid-column: 4 / 10;
    font-family: "DM Sans", sans-serif;
}
.child1 h1 {
    color:white;
    font-weight: 600;
    margin-bottom: 0;
}
.child1 h1 b {
    color:hsl(39, 100%, 71%);
    font-weight: 600;
}
.child1 p {
    color:white;
    font-family: "DM Sans", sans-serif;
    margin-top:0;
}
.parent{
    display:grid;
    height:500px;
    width:650px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px ;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px ;
    gap: 10px;
}
.childmg {
    width:150px;
    margin-top:0
}
.child2 h3{
    margin-left:10px;
    font-weight: 600;
}
.child2 {
    font-family: "DM Sans", sans-serif;
    background-color: white;
    grid-row: 5 / 8;
    grid-column: 4 / 7;
    overflow: hidden;
    border-radius: 5px;
}
.child2 img {
    width:200px;
}
.child3 {
    font-family: "DM Sans", sans-serif;
    background-color: hsl(39, 100%, 71%);
    grid-row: 5 / 8;
    grid-column: 7 / 10;
    border-radius: 5px;
    overflow: hidden;
}
.child3 h3 {
    margin-left: 10px;
    font-weight:600;
    font-size:15px
}
.child3 img {
    width:170px;

}
.child4 {
    background-color: hsl(254, 88%, 90%);
    font-family: "DM Sans", sans-serif;
    grid-row: 1 / 8;
    grid-column: 10 / 13;
    border-radius:5px;
    overflow: hidden;
}
.child4 h1 {
    margin-left: 20px;
    font-weight:600;
    font-size:20px;
    margin-top:40px
}
.chmg {
    width:220px;
    margin-left:35px
}
.child4 h5 {
    margin-left: 20px;
    font-weight:500;
    font-size:12px;
}
.child5 {
    background-color: hsl(256, 67%, 59%);
    font-family: "DM Sans", sans-serif;
    grid-row: 8 / 11;
    grid-column: 7 / 13;
    border-radius:5px;
    overflow: hidden;
}
.chmg2 {
    width:170px;
    margin-left: 20px;
    margin-top:8px;
}
.child5{
    display:flex;
    justify-content: center;
    align-items: center;
}

.child5 h3 {
    color:white;
    font-weight: 500;
    font-size: 20px;
}
.child6 {
    grid-row:8 / 11;
    grid-column: 4 / 7;
    background-color: white;
    border-radius: 5px;
}
.child6 h1 {
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 500;
    margin-bottom: 0px;
}
.child6 p {
    margin-top: 6px;
    font-size: 12px;
    margin-left: 10px;
}
.child6 img {
    width:150px;
    margin-left:10px;
}
.child7 {
    grid-row: 1 / 6;
    grid-column:1 / 4;
    background-color: hsl(31, 66%, 93%);
    border-radius: 5px;
}
.child7 h3{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 10px;
    font-weight: 600;
    margin-bottom: 0px;
}
.child7 h3 b {
    color:hsl(256, 67%, 59%)
}
.chmg3 {
    width:150px;
    margin-top: 20px;
}
.child8 {
    grid-row: 6 / 11;
    grid-column:1 / 4;
    background-color: hsl(39, 100%, 71%);
    border-radius: 5px;
}
.child8 h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 10px;
    font-weight: 700;
    margin-bottom: 0px;
}
.The_Last_CHMG {
    width:150px;
    margin-top:20px
}