/* class selector - სელექტორი რომელიც ყველა ერთნაირ კლასიან თეგს იძახებს ერთად თუ ის კლასი გამოვიძახეთ */
/* Tag selector - სელექტორი რომელიც ყველა ერთნაირ თეგს იძახებს ერთად თუ კონკრეტულად ის თეგი გამოვიძახეთ */
/* Id selector - სელექტორი რომელიც კონკრეტულ თეგს იძახებს თუ მისი Id-თ გამოვიძახებთ(იგივე უნიკალური სახელი) */
p {
    color:red;
}
.Hello {
    color:blue
}
#world {
    color:Green
}
/* აქ პარაგრაფი მწვანე ფერის გახდება რადგან id- ს სელექტორი უფრო პრიორიტეტულია */
div {
    width:100%;height: 100%;
}
div p {
    width:25%;height:25%;
}
#Hi {
    color:rgb(18, 8, 52)
}