body {
    background-color:black;
}
#h1 {
    color:red;
}
#big {
    display: flex;
}
#Virgin {
    background-color:azure ;width:600px;border:red solid 3px;display:flex
}
.unhealthy {
    text-decoration-line: line-through;text-decoration-color: red;font-size:18px;
}
#h2 {
    color:green
}
#Healthy {
    background-color:azure ;width:520px;border:green solid 3px;display:flex
}
div {
    margin-left:10px
}
#Healthyi {
    width:300px
}
#Healthyp {
    text-decoration-line: underline ;text-decoration-color:green; font-size:18px;
}
#Goa {
    color:red;text-shadow:2px 0px blue;
}
#Join {
    background-color: azure ;width:400px;border:solid blue 3px;
}
p {
    font-size:18px;
}
#Want {
    color: blue;
}
a {
    text-decoration: none;
}