.parent_of_no_one {
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBB4LQTn0vRq4ydPLp-uTj_lEUHOHYWUU18JlCq5KuMw&s=10);
    width: auto;
    height: 500px;
    background-repeat: no-repeat;
}