.parent {
    display:flex;
    width:50%;
    height:500px;
    border:black, 3px;
}
.child {
    background-color: red;
    height:100px;
    width:25%;
    text-align:center;
}
.c1 {
    flex-grow: 1;
}
.c2 {
    flex-grow: 2;
}
.c3 {
    flex-grow: 3;
}
.parent2 {
    display:flex;
    height: 300px;
    width:50%;
    
}