@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
/* font-family: "League Spartan", sans-serif; */

body {
    background-color: hsl(222, 26%, 31%);
    height:100vh;
}
.calc {
    color:hsl(0, 100%, 100%);
    font-family: "League Spartan", sans-serif;
    font-size:large;
}
.num {
    color:hsl(0, 100%, 100%);
    font-family: "League Spartan", sans-serif;
    margin-right:20px
}
.nump {
    background-color: hsl(224, 36%, 15%);
    width:320px;
    height:100px;
    border-radius: 5px;
    display:flex;
    justify-content: end;
    align-items: center;
    margin-top:50px
}
.invis {
    height:80px
}
.main {
    width:280px;
    height:250px;
    background-color: hsl(223, 31%, 20%);
    margin-top:15px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px;
    gap:10px;
    padding: 20px;

}
.num1 {
    background-color: hsl(0, 0%, 90%);
    border:none;
    border-bottom:hsl(28, 16%, 65%) 3px solid;
    border-radius:5px;
    width:60px;
    height:40px;
    color:hsl(223, 31%, 20%);
    font-weight:bold;
    font-size:x-large;
    
}
.del {
    color:white;
    font-family: "League Spartan", sans-serif;
    background-color: hsl(225, 21%, 49%);
    border-radius:5px;
    border:none;
    border-bottom:hsl(224, 28%, 35%) 3px solid;
    font-weight:bold;
    font-size:large;
}
.reset {
    grid-column: span 2;
    background-color:hsl(225, 21%, 49%);
    border:none;
    border-bottom:hsl(224, 28%, 35%) 3px solid;
    border-radius:5px;
    font-weight:bold;
    font-size:large;
    font-family:"League Spartan", sans-serif;
    color:white
}
.equal {
    grid-column: span 2;
    background-color: hsl(6, 63%, 50%);
    border:none;
    border-bottom:hsl(6, 70%, 34%) 3px solid;
    border-radius:5px;
    color:white
    
}
.num1:hover {
    background-color: white;
}
.del:hover {
    background-color:hsl(226, 62%, 83%);
}
.reset:hover {
    background-color:hsl(226, 62%, 83%);
}
.equal:hover {
    background-color:hsl(6, 83%, 71%) ;
}