body {
    height:150vh;
}
.parent {
    display:grid;
    height:400px;
    width:100px;
    grid-template-columns: 100px;
    grid-template-rows: 100px 100px 100px 100px;
}
.child {
    border:black 3px solid;
}
.parent2 {
    display:grid;
    height:400px;
    width:100px;
    grid-template-columns: 100px;
    grid-template-rows: 100px 100px 100px 100px;
    grid-auto-flow: column ;
}
.child2 {
    border:black 3px solid;
}